/* filament base theme */
@import "../../../../vendor/filament/filament/resources/css/theme.css";

/* local filament customizations */
@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/panels/**/*';

/* filament calendar package */
@source '../../../../vendor/guava/calendar/resources/**/*';
@import "../../../../vendor/guava/calendar/resources/css/theme.css";

/* filament language switch package */
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';

body
    > div.fi-layout
    > div.fi-main-ctn
    > main
    > div
    > div
    > div
    > div.col-\(--col-span-default\).sm\:col-\(--col-span-sm\).md\:col-\(--col-span-md\).lg\:col-\(--col-span-lg\).xl\:col-\(--col-span-xl\).\32
    xl\:col-\(--col-span-2xl\).rounded
    > div
    > div
    > div
    > h3 {
    @apply text-black dark:text-white;
}

.fi-sidebar-header {
    /* @apply ring-0; */
}

.fi-sidebar {
    /* @apply dark:bg-gray-900 bg-white dark:ring-white/10 ring-gray-950/5; */
}

.fi-sidebar-nav {
    @apply bg-white dark:bg-gray-900 shadow-sm ring-1 ring-gray-950/5 dark:ring-white/10 my-1 rounded-sm;
}

.fi-btn {
}

.fi-badge {
}

.fi-body {
}

/* fi-body fi-panel-dashboard {

} */
.fi-panel-dashboard {
    @apply bg-[#eceff2] dark:bg-[#000000];
}

/* .fi-ta-table>thead>tr {
    @apply divide-x divide-gray-200 dark:divide-white/5;
}

.fi-ta-row {
    @apply divide-x divide-gray-200 dark:divide-white/5;
} */

/* .fi-ta-table>tbody {
    @apply divide-none;
} */
